@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  background-color: #B4BEFA;
  font-family: Verdana, sans-serif;
}

code {
  font-family: Verdana, sans-serif;
}
